body{
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    background-color: rgb(3,33,28);
    font-family: sans-serif;
}

#display{
    float: left;
    width: 40vw;
    height: 85vh;
    margin-left: 30px;
    background-image: url('https://github.com/8ven0m8/RolePlay-Game/blob/main/images/133b7aa653f666e14342f498e6e2a334.jpg?raw=true');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    border: 5px solid rgb(101,123,80);
}

#container{
    margin: 50px 10px 0px auto;
    width: 50%;
    height: fit-content;
    border: 2px solid black;
    background-image: linear-gradient(silver, gray);
    padding-bottom: 10px;
}

#statDisplay{
    margin: 10px auto 0px auto;
    width: 97%;
    height: 40px;
    border: 1px solid black;
    text-align: left;
    padding-top: 10px;
}

#buttonDisplay{
    margin: auto;
    padding-top: 5px;
    width: 97%;
    height: 45px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: left;
}

#textDisplay{
    margin: auto;
    width: 97%;
    height: fit-content;
    border: 1px solid black;
    background-color: rgb(3,33,28);
    color: white; 
    text-align: left;
    font-size: 28px;
}

#currentText{
    padding-left: 10px;
}

.statText{
    padding: 20px;
    font-size: 28px;
}

button{
    width: fit-content;
    height: 38px;
    margin-right: 10px;
    border: 4px solid orange;
    background-image: linear-gradient(yellow, red);
    font-size: 18px;
}

#button1{
    margin-left: 10px;
}

#enemyStatDisplay{
    display: none;
    width: 100%;
    height: 30px;
    border: 1px solid black;
    background-image: linear-gradient(red, brown);
}

#enemyStatBar{
    font-size: 18px;
    margin-top: 3px;
    margin-left: 10px;
}

.enemyStat{
    padding-right: 10px;
}

#levelUpDisplay{
    display: none;
    width: fit-content;
    height: 10px;
    border: 4px solid gray;
}

#lud1, #lud2, #lud3, #lud4, #lud5{
    width: 100px;
    float:left;
    height: 10px;
    background-image: linear-gradient(silver, gray);
}